.layout{
    height: 100%;
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    overflow: auto; 
}


.form{
    text-align: right;
}

input[type=text]{
    border: none;
    background-color: rgb(41, 41, 41);
    color: silver;
    width: 100%;
}


#name{
    max-width: 150px;
}

input:focus {
    outline-width: 0;
}

.messagesContainer{
    border: none;
    background-color: rgb(22, 22, 22);
    padding: 5px 0;
    overflow: auto; 

}


:host::ng-deep p{
    padding: 0;
    margin: 3px 0;
}

:host::ng-deep .div-message div{
    display: inline-block;
    background-color: rgb(44, 44, 44);
    color: silver;
    padding: 5px 20px;
    margin: 5px 0;
    border-radius: 5px;
}

:host::ng-deep .message{
    clear: both;
}

:host::ng-deep .name{
    float: right;
}
:host::ng-deep .time{
    float: left;
}


.button{
    width: 100%;
    border-radius: 30px;
    border: none;
    background-color: white;
    height: 34px;
    padding: 5px 0;
    margin: 10px 0;
}



.center{
    text-align: center;
}

input{
    margin: 5px 0;
    padding: 5px 10px;
}

.right{
    text-align: right;
}

.left{
    text-align: left;
}


.layout > div:nth-of-type(1) { background-color: rgb(53, 53, 53);  }
main > div:nth-of-type(1) { background-color: rgb(22, 22, 22); flex-grow: 1; overflow: auto;}
main > div:nth-of-type(2) { background-color: rgb(53, 53, 53); padding: 5px 0; }


 input[type=radio]{
    margin: 3px;
    width: auto;
 }

 .counter{
     margin-left: 30px;
 }

.send{
    display: block;
    fill: rgb(37, 37, 37);
    height: 30px;
    margin: 7px auto;
    cursor: pointer;
}

.row{
    margin: 0;
    padding: 0;
}


  ::-webkit-scrollbar{
    width: .3em;
  }

  ::-webkit-scrollbar-thumb {
    background: gray;
  }

  /* from 1023px to 1200px */
@media only screen and (max-width: 1200px) {
 
}

/* from 767px to 1023px */
@media only screen and (max-width: 1023px) {
    h1{
        font-size: 50px;
    }
    #formDiv{
        width: 600px;
        height : 165px;
    }
    form{
        padding-top: 20px;
        margin-left: 85px;
        line-height: 25px;
        font-size: 18px;
    }

    button{
        margin-top: 0;
        padding: 2px 6px !important;
    }

    #containerDiv > div {
        float: left;
        width: 150px;
        height: 200px;
        padding: 10px;
        margin: 10px;
    }

    .icon{
        font-size: 15px;
    }
    
    div p:nth-child(2){
        width: 140px;
        height: 110px;
        font-size: 13px;
        overflow-x: hidden;
        overflow-y: auto;
    }

    div p:nth-child(3){
        font-size: 13px;
        font-weight: bold;
    }
}

/* from 520px to 767px */
@media only screen and (max-width: 767px) {
    input[type=text]{
        font-size: small;
    }

    .send{
        height: 25px;
    }

    .layout > div:nth-of-type(1) { font-size: small;  }

}

/* up to 520px */
@media only screen and (max-width: 520px) {

}